<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="General">
            <directory prefix="General">./test/Api</directory>
        </testsuite>
        <testsuite name="Loyalty">
            <directory prefix="Loyalty">./test/Api</directory>
        </testsuite>
        <testsuite name="Payment">
            <directory prefix="Payment">./test/Api</directory>
        </testsuite>
        <testsuite name="Smart">
            <directory prefix="Smart">./test/Api</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./lib/Api</directory>
        </whitelist>
    </filter>

    <groups>
        <exclude>
            <group>ignore</group>
        </exclude>
    </groups>
</phpunit>
